---
import Table from './Table.astro';
export interface Props {
	data: object;
	title: string;
	headers?: string[]
}

const {data, title, headers}: {data: any, title: string, headers?: string[]} = Astro.props;
const tableHeaders = headers ?? ["Entitlement", "Default Value"];

function getValue(data:string|object){
	if(typeof data === 'string'){
		return data;
	}
	return JSON.stringify(data);
}
---
<h1 class="my-4 text-3xl">{title}</h1>
{Object.keys(data).map(category => (
	<h2 class="mb-2 text-xl" id={category}><a href={`#${category}`}>{category}</a></h2>
	<Table
		headers = {tableHeaders}
		widths={["w-1/2", "w-1/2"]}
		data = {Object.keys(data[category]).map((item:string) => [item, getValue(data[category][item])])}
	></Table>
))}